
<h1 class ="por">MAJOR TYPES OF SHIPS</h1>
  <div class="container">
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Sabrina_I_cropped.jpg/450px-Sabrina_I_cropped.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen" >CONTAINER SHIPS</p>
      </div>
    </div>
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/MAERSK_MC_KINNEY_M%C3%96LLER_%26_MARSEILLE_MAERSK_%2848694054418%29.jpg/1920px-MAERSK_MC_KINNEY_M%C3%96LLER_%26_MARSEILLE_MAERSK_%2848694054418%29.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">BULK CARRIERS</p>
      </div>
    </div> <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/R%C3%ADo_Saig%C3%B3n%2C_Ciudad_Ho_Chi_Minh%2C_Vietnam%2C_2013-08-14%2C_DD_21.JPG/1920px-R%C3%ADo_Saig%C3%B3n%2C_Ciudad_Ho_Chi_Minh%2C_Vietnam%2C_2013-08-14%2C_DD_21.JPG" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">TANKERS</p>
      </div>
    </div>
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Container_Ship.jpg/1920px-Container_Ship.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">ROLL-ON/ROLL-OFF (RO-RO) SHIPS</p>
      </div>
    </div> <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Rhoneborg.jpg/1280px-Rhoneborg.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">GENERAL CARGO SHIPS</p>
      </div>
    </div> 
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Helga_%28IMO_9277395%29_Greenock_2018.jpg/1280px-Helga_%28IMO_9277395%29_Greenock_2018.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">REEFER SHIPS</p>
      </div>
    </div>
     <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/8/80/COSCO_Guangzhou_02_%28RaBoe%29.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">LIFESTOCK CARRIERS</p>
      </div>
    </div>
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/EVER_GIVEN_%2849643352087%29.jpg/1920px-EVER_GIVEN_%2849643352087%29.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">HEAVY LIFT VESSELS</p>
      </div>
    </div>
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Federal_Margaree_%282005%29.jpg/1280px-Federal_Margaree_%282005%29.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">FERRY AND PASANGER SHIPS</p>
      </div>
    </div>
  
    
 </div>

 <!-- <div class="container">
      <img class="item" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Sabrina_I_cropped.jpg/450px-Sabrina_I_cropped.jpg" alt="Example image">
      <img class="item" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/MAERSK_MC_KINNEY_M%C3%96LLER_%26_MARSEILLE_MAERSK_%2848694054418%29.jpg/1920px-MAERSK_MC_KINNEY_M%C3%96LLER_%26_MARSEILLE_MAERSK_%2848694054418%29.jpg" alt="Example image">
      <img class="item" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/R%C3%ADo_Saig%C3%B3n%2C_Ciudad_Ho_Chi_Minh%2C_Vietnam%2C_2013-08-14%2C_DD_21.JPG/1920px-R%C3%ADo_Saig%C3%B3n%2C_Ciudad_Ho_Chi_Minh%2C_Vietnam%2C_2013-08-14%2C_DD_21.JPG" alt="Example image">
      <img class="item" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Container_Ship.jpg/1920px-Container_Ship.jpg" alt="Example image">
      <img class="item" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Rhoneborg.jpg/1280px-Rhoneborg.jpg" alt="Example image">
      <img class="item" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Helga_%28IMO_9277395%29_Greenock_2018.jpg/1280px-Helga_%28IMO_9277395%29_Greenock_2018.jpg" alt="Example image">
      <img class="item" src="https://upload.wikimedia.org/wikipedia/commons/8/80/COSCO_Guangzhou_02_%28RaBoe%29.jpg" alt="Example image"> 
      <img class="item" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/EVER_GIVEN_%2849643352087%29.jpg/1920px-EVER_GIVEN_%2849643352087%29.jpg" alt="Example image">
      <img class="item" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Federal_Margaree_%282005%29.jpg/1280px-Federal_Margaree_%282005%29.jpg" alt="Example image">     
   </div> -->

<br>
<br>
  