* {
    box-sizing: border-box;
}

body {
    line-height: 1;
}

.container {
    
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: center;
}
.item {
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
}
.card {
    width: 400px;
    height: 400px;
    margin-top: 50px;
}

.cen
{
    font-size: x-large;
    margin-top: 0px;
    margin-left: 80px;
}

.por
{
    margin-top: 25px;
    margin-left: 500px;
}

