<h1 class ="por">MAJOR PORTS IN INDIA</h1>
  <div class="container">
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Mumbai_Port_Trust.JPG/1280px-Mumbai_Port_Trust.JPG" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">MUMBAI PORT</p>
      </div>
    </div>
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202006/1500x500_660_030620081450.jpg?size=948:533" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">CHENNAI  PORT</p>
      </div>
    </div> <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Port_of_Chennai%2C_India_-_panoramio.jpg/1024px-Port_of_Chennai%2C_India_-_panoramio.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">MANGALURU PORT</p>
      </div>
    </div>
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/A_view_of_Tuticorin_Port.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">KOLKATA PORT</p>
      </div>
    </div> <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/7/74/Container_terminal.JPG" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">VISHAKAPATNAM PORT</p>
      </div>
    </div> 
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Gopalpur_Port.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">GOA PORT</p>
      </div>
    </div>
     <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://lh3.googleusercontent.com/p/AF1QipMQg_UsYLeDSh94YkYNaF7CneXNHTYVHbtalsmd=s1360-w1360-h1020" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">KOCHI PORT</p>
      </div>
    </div>
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://lloydslist.maritimeintelligence.informa.com/-/media/lloyds-list/images/top-100-ports-2019/sydney-sitecore.jpg?rev=defc67ce85a7426e9208c9658974b358&w=790&hash=201444B0953CE736336B7B88D0C57375" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">TUTICORIN PORT</p>
      </div>
    </div>
    <div class="card" style="width: 25rem; ">
      <img style="height: 70%;" class="card-img-top" src="https://c8.alamy.com/comp/W9JC6F/the-port-of-singapore-city-W9JC6F.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text cen">PORBANDAR PORT</p>
      </div>
    </div>
  
 </div>

 <br>
 <br>

