<form  class="container bor" (ngSubmit)="signin()" novalidate>
  
    <div class="form-group">
      <label for="emailid">Email ID:</label>
      <input  type="email" id="emailid" class="form-control size" [(ngModel)]="emailid" name="emailid" required>
      <div class="invalid-feedback">Please enter a valid email ID.</div>
    </div>
   
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control size" [(ngModel)]="password" name="password" required>
      <div class="invalid-feedback">Please enter a password.</div>
    </div>
   
    
    <button type="submit" class="btn btn-primary mid"(click)='signin()'>Admin Login</button>
    
  </form>
